.items-info{
    display: flex;
    align-items: center;
}
.add-minus-quantity{
    display: flex;
    align-items: center;
    margin-left: 10px;
   
}
.input {
    width: 50px;
    height: 20px;
}
.width_200{
    width: 300px;
}
.height_200{
    height: 200px;
}
.width_auto{
    width: auto;
}
.price{
    margin-left: 10px;
}
.card_div{
    display: flex;
    flex-wrap: wrap;
}
.img_style{
    width: 100%;
    height: 60%;
    margin: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin: 10px auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .cart_btn_and_title_style{
      display: flex;
      justify-content: space-around;
      align-items: center;
     
  }
  .cart_btn{
    width: auto;
    height: 20px;
          }